html * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgba(0, 0, 0, 0.85);
}

html {
  border: 5px blue solid;
  padding: 0px 15px;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.stepper {
  height: 95vh;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.progress {
  height: 80%;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.15);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progress * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-solid {
  width: 60px;
  height: 0;
  border: 1px solid rgb(0, 128, 94);
  display: inline-block;
}

.line-dotted {
  width: 60px;
  height: 0;
  border: 1px dashed rgba(0, 0, 0, 0.55);
  display: inline-block;
}

span.p-number {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
}

.p-number {
  color: rgb(23, 103, 252);
}

.p-green {
  color: rgb(0, 128, 94);
}

.p-blue {
  color: rgb(23, 103, 252);
}

span.p-g {
  background-color: rgb(0, 128, 94);
  color: white;
}

span.p-b {
  background-color: rgb(23, 103, 252);
  color: white;
}

div.meal > div.m-time > div.t-time {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.food_0 {
  padding-right: 20px;
  display: grid;
}

.drink_0 {
  display: grid;
}

div.m-check {
  padding: 25px 0;
}

div.m-check > label.c-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.m-check > label > input#checkbox {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: 1px rgba(128, 128, 128, 0.25) solid;
  box-shadow: 1px 1px 1px 2px rgba(126, 126, 126, 0.2);
}

span.checkbox {
  padding-left: 8px;
}

label,
select {
  padding-bottom: 4px;
}

select {
  border-radius: 3px;
  border: 1px rgba(128, 128, 128, 0.5) solid;
  box-shadow: 1px 1px 1px 2px rgba(126, 126, 126, 0.2);
}

select::after {
  border: 1px rgba(128, 128, 128, 0.7) solid;
}

div.next {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back,
.continue {
  padding: 12px 24px;
  border-radius: 5px;
  border: solid 2px rgba(128, 128, 128, 0.25);
  box-shadow: 1px 1px 1px 2px rgba(126, 126, 126, 0.2);
}

div.next > button.continue {
  background-color: rgb(23, 103, 252);
  color: white;
}

div.next > button.back {
  background-color: whitesmoke;
}

button.back:hover,
button.continue:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s;
  cursor: pointer;
}
