html * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

html {
  border: 5px blue solid;
  /*background-color: rgba(170, 211, 211, 0.4);*/
  /*margin: 15px;*/
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.stepper {
  height: 95vh;
  display: grid;
  grid-template-rows: 20% 65% 15%;
}

.progress *,
.meal,
.next {
  /*border: black 2px solid;*/
}

.progress {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-self: center;
  justify-items: center;
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(128, 128, 128, 0.15);
}

span.p-number {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
}

.p-number {
  color: rgb(23, 103, 252);
}

.p-green {
  color: rgb(0, 128, 94);
}

.p-blue {
  color: rgb(23, 103, 252);
}

span.p-g {
  background-color: rgb(0, 128, 94);
  color: white;
}

span.p-b {
  background-color: rgb(23, 103, 252);
  color: white;
}

div.meal > div.m-time > div.t-time {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
